.pricing__container {
  max-width: 750px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}

.pricing__header {
  background-image: url("./assets/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  margin: 5em 0 0 0;
}

.pricing__subtitle {
  color: var(--text);
  opacity: 0.7;
}

.pricing__card {
  min-height: 50%;
  min-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3em 5em;
  background-color: var(--pricing_bg);
  border-radius: 10px;
  box-shadow: 4px 8px 8px var(--color_box_shadow);
}

.pricing__card__header,
.pricing__card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
}

.pricing__card__top {
  padding: 2em 3em;
}

.header__left {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 0.8rem;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__right--large {
  color: black;
  font-size: 2.5rem;
  padding: 5px;
}

/* range */

.pricing__card__range {
  margin: 0 auto;
  width: 100%;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: var(--empty_slider);
  outline: none;
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
  margin: 3em 0;
}

.range:hover {
  opacity: 1;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--slider_bg) url("/src/assets/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  cursor: pointer;
  box-shadow: 10px 10px 10px var(--slider_color);
}

.range::-moz-range-thumb {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: var(--slider_bg) url("/src/assets/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  cursor: pointer;
}

/* toggle button */

.pricing__card__toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text);
  font-size: 12px;
}

.toggle__switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: 52px;
  height: 26px;
  overflow: hidden;
  outline: none;
  border-radius: 26px;
  margin: 0 10px;
}

.toggle__switch input {
  position: absolute;
  display: none;
}

.toggle__slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--slider_color);
  -webkit-transition: 0.4s;
  transition: background-color 0.4s;
  border-radius: 26px;
}

.toggle__slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: var(--pricing_bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.toggle__switch input[type="checkbox"]:checked + .toggle__slider::before {
  transform: translateX(26px);
}

.toggle__switch input[type="checkbox"]:checked + .toggle__slider {
  background-color: var(--toggle_bg);
}

.toggle__discount_flag {
  background-color: var(--discount_bg);
  color: var(--discount_text);
  padding: 2px 10px;
  border-radius: 1em;
  font-size: 10px;
  margin-left: 10px;
}

/* footer */
.pricing__card__footer {
  width: 100%;
  border-top: 1px solid var(--empty_slider);
  padding: 1em 3em 2em;
}

.list {
  padding-left: 1em;
}

.list li {
  list-style: none;
  font-size: 12px;
  padding: 5px;
}

.list li:before {
  content: url("/src/assets/icon-check.svg");
  padding-right: 5px;
}

.button {
  background-color: var(--text_bg);
  color: var(--color_white);
  padding: 10px 15px;
  border-radius: 2em;
  min-width: 150px;
  border: none;
}

.button:hover,
.button:active {
  color: var(--text);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .pricing__container {
    padding: 2em 0;
  }

  .pricing__subtitle {
    max-width: 200px;
    align-self: center;
  }

  .pricing__header {
    padding-top: 2em;
    display: flex;
    flex-direction: column;
  }

  .pricing__card {
    max-width: 85vw;
    margin: 2em;
  }

  .pricing__card__top {
    padding: 1em;
  }

  .pricing__card__header {
    flex-direction: column;
    align-items: space-between;
  }

  .pricing__card__footer {
    flex-direction: column;
    align-items: center;
  }

  .list li {
    text-align: center;
    padding: 5px 0px;
  }
}
